@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable";
}

canvas{
    position: absolute;
    left:0;
    top:0;
    z-index:-1;
}

body{
    color: #eeeeee;
    background-color: #1a1a1a;
}

a{
    color: #eeeeee;
    opacity: 70%;
    text-decoration: none;
}

a:hover{
    opacity: 1;
}

main{
    margin-left: 10vw;
    margin-top: 10vh;
}

h1{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: 4rem;
}

a, p{
    font-size: 1.2rem;
}