@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    font-family: "pretendard";
    color: white;
}

body{
    overflow: hidden;
    background-color: #2c2c42;
}

main{
    width: 30rem;
    margin: auto;
    perspective: 1000px;
}

.garo{
    display: flex;
    align-items: center;
}

.garoblock{
    width: 100%;
}

.logo{
    width: 3rem;
}

.logoblock{
    text-align: right;
}

.ca{
    position: absolute;
    width: 2rem;
    pointer-events: none;
}