@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Pretendard;
}

body{
    background-color: #1a1a1a;
}

main{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    text-align: right;
}

.left > .card{
    padding: 1em;
    height: 100%;
    font-size: 1.2em;
}

.card{
    color: white;
    text-decoration: none;
}

.card:hover > .hide{
    opacity: 1;
    margin: 0;
}

.hide{
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-duration: 0.1s;
    margin: -0.6em;
    opacity: 0;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.2em;
}

.right{
    text-align: center;
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
}