@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

*{
    margin: 0;
    padding: 0;
    font-family: Galmuri7;
}

body{
    color: #eeeeee;
    background-color: #2c2c42;
}

a{
    color: #eeeeee;
    opacity: 70%;
    text-decoration: none;
}

a:hover{
    opacity: 1;
}

main{
    margin-left: 10vw;
    margin-top: 10vh;
}

h1{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-size: 4rem;
}

a, p{
    font-size: 1.2rem;
}